
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil ADMIN</title>
</head>
<body>
    <app-navbar></app-navbar>

 <div class="w-full text-white bg-gradient-to-b from-oscuro to-azulSecundario">
        <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">

    <div class="container mx-auto my-5 p-5">
        <div class="md:flex no-wrap md:-mx-2 ">
            <!-- lado izquierdo -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Tarjetita perfil -->
                <div class="bg-white p-3 border-t-4 border-azulTerciario">
                    <div class="image overflow-hidden">
                        <img class="md:h-auto md:w-full md:mx-auto"
                            src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg"
                            alt="">
                    </div>
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{infoToken?.data?.user?.primerNombre}} {{infoToken?.data?.user?.primerApellido}}</h1>
                    <h3 class="text-gray-600 font-lg text-semibold leading-6">Nombre Compañia</h3>
                    <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit.
                        Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt</p>
                    <ul
                        class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                        <li class="flex items-center py-3">
                            <span>Estado de cuenta</span>
                            <span class="ml-auto"><span
                                    class="bg-azulTerciario py-1 px-2 rounded text-white text-sm">Admin</span></span>
                        </li>
                        <li class="flex items-center py-3">
                            <span>Miembro desde</span>
                            <span class="ml-auto">{{infoToken?.data?.user?.fechaCreacion}}</span>
                        </li>
                    </ul>
                </div>

                <div class="my-4"></div>
                <!-- Tarjeta de links-->
                <div class="bg-white p-3 hover:shadow border-t-4 border-azulTerciario">
                    <div class="flex items-center space-x-3 font-semibold text-gray-900 text-xl leading-8">
                        <span class="text-azulTerciario">
                            <svg class="h-5 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </span>
                        <span>Links disponibles</span>
                    </div>
                    <div class="grid grid-cols-1">
                        <div class="text-center my-2">
                            <img class="h-16 w-16 rounded-full mx-auto"
                                src="../../../../assets/img/admin-svgrepo-com.svg"
                                alt="">
                            <a href="#" class="text-azulPrimario">Link Admin PWA</a>
                        </div>
                        <div class="text-center my-2">
                            <img class="h-16 w-16 rounded-full mx-auto"
                                src="../../../../assets/img/family-svgrepo-com.svg"
                                alt="">
                            <a [routerLink]="['/landingpage']" href="#" class="text-azulPrimario">Link Cliente PWA</a>
                        </div>

                    </div>
                </div>
                <!-- final de tarjeta de links -->
            </div>
            <!--  lado derecho  -->
            <div class="w-full md:w-9/12 mx-2 h-full mt-5 md:mt-0">
                <!-- Perfil -->
                <!-- informacion general -->
                <div class="bg-white p-3 shadow-sm rounded-sm border-t-4 border-azulTerciario ">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                        <span clas="text-azulPrimario">
                            <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </span>
                        <span class="tracking-wide">Informacion General</span>
                    </div>
                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-1 text-xl my-3">
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm " *ngIf="infoToken">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Primer Nombre</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.user?.primerNombre}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Primer Apellido</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.user?.primerApellido}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Genero</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.user?.sexo}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Nombre de Usuario</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.user?.nombreUsuario}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Telefono</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.user?.telefono}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Admin</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">Si</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Correo</div>
                                <div class="px-4 py-2">
                                    <a class="text-blue-800 text-azulPrimario md:text-base text-base" href="mailto:jane@example.com">{{infoToken?.data?.user?.correoElectronico}}</a>
                                </div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1 bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Cumpleaños</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.user?.fechaNacimiento}}</div>
                            </div>
                        </div>
                        <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                            <span clas="text-azulPrimario">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                </svg>
                            </span>
                            <span class="tracking-wide">Informacion del Plan adquirido</span>
                        </div>
                        <div class="grid md:grid-cols-1 text-xl my-3">
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm " *ngIf="infoToken">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Tipo de plan</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.plan?.tipoPlan}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Precio del plan</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">$ {{infoToken?.data?.plan?.precio}}</div>
                            </div>
                            <div class="grid md:grid-cols-2 grid-cols-1  bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-1 divide-x rounded shadow-sm">
                                <div class="px-4 py-2 font-semibold text-base md:text-base">Fecha de Finalizacion</div>
                                <div class="px-4 py-2 text-azulPrimario md:text-base text-base">{{infoToken?.data?.plan?.fechaFin}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                <!-- termina informacion general-->
            </div>
        </div>
    </div>
</div>
</body>
</html>