<body>

    <div class="py-6 w-screen h-screen">
        <!-- Breadcrumbs -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center space-x-2 text-black-400 text-sm">
                <a href="/machinery" class="hover:underline hover:text-black-600">Productos</a>
                <span>
                    <svg class="h-5 w-5 leading-none text-black-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </span>
                <a href="/machinery/detalles/{{machine[0].idMaquina}}" class="hover:underline hover:text-black-600">Detalles</a>
                <span>
                    <svg class="h-5 w-5 leading-none text-black-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </span>

                <span>Pago</span>
            </div>
        </div>
        <!-- ./ Breadcrumbs -->

        <!-- component -->
        <section class="text-gray-700 body-font overflow-hidden bg-transparent w-screen">
            <div class="container md:px-5 px-0 py-10 mx-auto">
                <div
                    class="relative flex flex-col items-center rounded-[20px] w-[700px] max-w-[95%] mx-auto bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3">
                    <div class="mt-2 mb-8 w-full">
                        <h4 class="px-2 text-xl font-bold text-gray-900">
                            Proceso de compra: {{machine[0].nombre}}
                        </h4>
                        <p class="mt-2 px-2 text-base text-gray-600">
                            Para poder completar la compra es necesario contar con los datos de la tarjeta de crédito o
                            débito que
                            se
                            utilizará para realizar el pago. Estos datos son esenciales para poder llevar a cabo la
                            transacción de
                            forma
                            segura y confiable.
                        </p>
                    </div>

                    <form [formGroup]="compraForm" (ngSubmit)="compra()">
                        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 px-2 w-full">
                            
                            <div 
                                class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500">
                                <p class="text-sm text-gray-600">Unidades</p>
                                <input type="number" min="1" max="{{machine[0].existencia}}" id="cantidadUnidades" formControlName="cantidadUnidades"
                                    class="text-base font-sm text-black shadow-inner bg-hueso w-44 ">
                            </div>

                            <div
                                class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500">
                                <p class="text-sm text-gray-600">Número de tarjeta</p>
                                <input type="" maxlength="16" id="numeroTarjeta" formControlName="numeroTarjeta"
                                       class="text-base font-sm text-black shadow-inner bg-hueso w-44 ">
                            </div>

                            <div
                                class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500">
                                <p class="text-sm text-gray-600">Fecha de Vencimiento</p>
                                <input type="" placeholder="MM/AA" maxlength="5" id="fechaVencimiento" formControlName="fechaVencimiento"
                                       class="text-base font-sm text-black shadow-inner bg-hueso w-44">
                            </div>

                            <div
                                class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500">
                                <p class="text-sm text-gray-600">Código CVV</p>
                                <input type="" maxlength="3" id="codigoCVV" formControlName="codigoCVV"
                                       class="text-base font-sm text-black shadow-inner bg-hueso w-44">
                            </div>

                            <div
                                class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-black">
                                <button class="
                     w-full
                     block
                     text-base
                     font-semibold
                     text-white
                     bg-azulPrimario
                     border border-[#D4DEFF]
                     rounded-md
                     text-center
                     p-4
                     hover:text-white hover:bg-azulTerciario hover:border-primary
                     transition
                     ">Pagar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>