<!--navbar-->
<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../../../logofestival.png" alt="logo_empresa">
        </div>
    <nav class="menu">
        <div>
            <a routerLink='' routerLinkActive="active" >Inicio</a>
            <a routerLink='' routerLinkActive="active" >Venta</a>
            <a routerLink='' routerLinkActive="active" >Renta</a>
        </div>
        <a  routerLink='chats' style="padding: 2px 25px;"><i class="fa-solid fa-envelope" style="font-size: 22px;"></i></a>
        <a routerLink='' routerLinkActive="active">Salir</a>

    </nav>
    </div>
</header>
