<!--navbar-->
<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../../assets/img/logofestival.png" alt="logo_empresa">
        </div>
    <nav class="menu">
        <div>
            <a routerLink='/login-festival' routerLinkActive="active" >Iniciar sesión</a>
            <a routerLink='/registro-festival' routerLinkActive="active" >Registrate ahora</a>
            <a routerLink='' routerLinkActive="active" >Comprar</a>
            <a routerLink='' routerLinkActive="active" >Renta</a>
        </div>
        <a  routerLink='chats' style="padding: 2px 25px;"><i class="fa-solid fa-envelope" style="font-size: 22px;"></i></a>
        <a routerLink='' routerLinkActive="active">Salir</a>

    </nav>
    </div>
</header>
<body>
    
</body>
