<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />

<!-- ====== Pricing Section Start -->
<section
   class="
   bg-gradient-to-b from-oscuro to-azulSecundario
   pt-5
   lg:pt-[120px]
   pb-12
   lg:pb-[90px]
   relative
   z-20
   overflow-hidden
   "
   >
   <div class="container">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full px-4">
            <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
               <h2
                  class="
                  font-bold
                  text-3xl
                  sm:text-4xl
                  md:text-[40px]
                  text-white
                  mb-4
                  "
                  >
                  Nuestros Planes
               </h2>
               <p class="text-base text-white">
                Con nuestra suscripción, nunca más tendrás que preocuparte por perder una oferta o quedarte sin acceso a contenido exclusivo. ¡Únete a nuestra comunidad de subscriptores y haz que tus planes sean siempre perfectos!
               </p>
            </div>
         </div>
      </div>
      <div class="flex flex-wrap justify-center -mx-4">
         <div class="w-full md:w-1/2 lg:w-1/3 px-4">
            <div
               class="
               bg-white
               rounded-xl
               relative
               z-10
               overflow-hidden
               border border-primary border-opacity-20
               shadow-pricing
               py-10
               px-8
               sm:p-12
               lg:py-10 lg:px-6
               xl:p-12
               mb-10
               "
               >
               <span class="text-primary font-semibold text-lg block mb-4">
               Basico
               </span>
               <h2 class="font-bold text-dark mb-5 text-[42px]">
                  $59
                  <span class="text-base text-body-color font-medium">
                  / año
                  </span>
               </h2>
               <p
                  class="
                  text-base text-body-color
                  pb-8
                  mb-8
                  border-b border-[#F2F2F2]
                  "
                  >
                  Perfecto para usar en un sitio web personal o en un proyecto de cliente.
               </p>
               <div class="mb-7">
                  <p class="text-base text-body-color leading-loose mb-1">
                    1 Usuario
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Todos los componentes de interfaz de usuario (UI)
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Acceso de por vida
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Actualizaciones gratuitas
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Uso en 1 (un) proyecto
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Soporte por 3 meses
                  </p>
               </div>
               <a
                  href="javascript:void(0)"
                  class="
                  w-full
                  block
                  text-base
                  font-semibold
                  text-primary
                  bg-transparent
                  border border-[#D4DEFF]
                  rounded-md
                  text-center
                  p-4
                  hover:text-white hover:bg-primary hover:border-primary
                  transition
                  "
                  >
               Elegir Basico
               </a>
               <div>
                  <span class="absolute right-0 top-7 z-[-1]">
  
                  </span>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 lg:w-1/3 px-4">
            <div
               class="
               bg-white
               rounded-xl
               relative
               z-10
               overflow-hidden
               border border-primary border-opacity-20
               shadow-pricing
               py-10
               px-8
               sm:p-12
               lg:py-10 lg:px-6
               xl:p-12
               mb-10
               "
               >
               <span class="text-primary font-semibold text-lg block mb-4">
               Estandar
               </span>
               <h2 class="font-bold text-dark mb-5 text-[42px]">
                  $199
                  <span class="text-base text-body-color font-medium">
                  / año
                  </span>
               </h2>
               <p
                  class="
                  text-base text-body-color
                  pb-8
                  mb-8
                  border-b border-[#F2F2F2]
                  "
                  >
                  Perfecto para usar en un sitio web comercial o en un proyecto de cliente.
               </p>
               <div class="mb-7">
                  <p class="text-base text-body-color leading-loose mb-1">
                    5 Usuarios
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Todos los componentes de la interfaz de usuario (UI)
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Acceso de por vida
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Actualizaciones gratuitas
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Uso en 3 (tres) proyectos
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Soporte por 4 meses
                  </p>
               </div>
               <a
                  href="javascript:void(0)"
                  class="
                  w-full
                  block
                  text-base
                  font-semibold
                  text-primary
                  bg-transparent
                  border border-[#D4DEFF]
                  rounded-md
                  text-center
                  p-4
                  hover:text-white hover:bg-primary hover:border-primary
                  transition
                  "
                  >
               Eligir Basico
               </a>
               <div>
                  <span class="absolute right-0 top-7 z-[-1]">
                     
                  </span>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 lg:w-1/3 px-4">
            <div
               class="
               bg-white
               rounded-xl
               relative
               z-10
               overflow-hidden
               border border-primary border-opacity-20
               shadow-pricing
               py-10
               px-8
               sm:p-12
               lg:py-10 lg:px-6
               xl:p-12
               mb-10
               "
               >
               <span class="text-primary font-semibold text-lg block mb-4">
               Profesional
               </span>
               <h2 class="font-bold text-dark mb-5 text-[42px]">
                  $256
                  <span class="text-base text-body-color font-medium">
                  / año
                  </span>
               </h2>
               <p
                  class="
                  text-base text-body-color
                  pb-8
                  mb-8
                  border-b border-[#F2F2F2]
                  "
                  >
                  Perfecto para usar en un sitio web profesional o en un proyecto de cliente.
               </p>
               <div class="mb-7">
                  <p class="text-base text-body-color leading-loose mb-1">
                    Usuarios ilimitados
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Todos los componentes de la interfaz de usuario
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Acceso de por vida
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Actualizaciones gratuitas
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Uso en proyectos ilimitados
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Soporte de 12 meses
                  </p>
               </div>
               <a
                  href="javascript:void(0)"
                  class="
                  w-full
                  block
                  text-base
                  font-semibold
                  text-primary
                  bg-transparent
                  border border-[#D4DEFF]
                  rounded-md
                  text-center
                  p-4
                  hover:text-white hover:bg-primary hover:border-primary
                  transition
                  "
                  >
               Elegir Profesional
               </a>
               <div>
                  <span class="absolute right-0 top-7 z-[-1]">
                     
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== Pricing Section End -->
