<div class="h-auto bg-gradient-to-b from-oscuro to-azulSecundario flex flex-row justify-center">
    <div class="bg-mujer bg-cover w-96 h-96"></div>
    <div class="flex flex-col justify-center">
        <div>
            <h1 class="text-blanco text-2xl italic font-black my-10">Ofrece a tus usuarios una experiencia fluida y accesible.</h1>
        </div>
        <div>
            <h2 class="text-blanco text-base font-light">Convierte tu sitio web en una experiencia de aplicacion movil expecional</h2>
        </div>
        <button class="bg-oscuro hover:bg-azulTerciario text-white font-bold py-2 px-4 rounded w-max mx-auto mt-10 " [routerLink]="['/registro-admin']">Registrate ahora</button>
    </div>
</div>

