<div class="h-fit md:h-screen bg-gradient-to-b from-oscuro to-azulSecundario md:flex md:flex-row md:justify-center flex flex-col ">
    <div class="flex justify-center">
        <div class="bg-mujer bg-contain mt-12 bg-no-repeat md:w-96 md:h-screen w-80 h-80 md:p-1"></div>
    </div>
    <div class="flex flex-col items-center p-5 mt-5 ">
        <div class="m-0 p-8">
            <h1 class="text-4xl font-black font-serif text-white text-center text">Transforma tu negocio con nuestra plataforma de PWA y SAAS</h1>
        </div>
        <div class="bg-opacity-40 bg-white p-10 rounded-2xl flex flex-col justify-center shadow-xl">
        <div>
            <h1 class="text-blanco text-2xl italic font-black my-10">Ofrece a tus usuarios una experiencia fluida y accesible.</h1>
        </div>
        <div>
            <h2 class="text-blanco text-base font-light">Convierte tu sitio web en una experiencia de aplicacion movil expecional</h2>
        </div>
        <button class="bg-oscuro hover:bg-azulTerciario text-white font-bold py-2 px-4 rounded w-max mx-auto mt-10 " [routerLink]="['/registro-admin']">Registrate ahora</button>
    </div>
</div>
</div>

