<nav class="bg-oscuro">
    <div class="flex flex-row justify-between">
        <div class="bg-oscuro">

        </div>
        <div class="flex justify-around">
            <div>
                <img src="../../../assets/img/Logo2.svg" alt="Logo" class="w-24 h-32 object-fill">
            </div>
        </div>
        <div class="flex justify-end items-center mr-10 text-sm">
            <button class="text-white" [routerLink]="['/login-admin']">Iniciar Sesión</button>
        </div>
    </div>
  </nav>